{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

    <div class="flex flex-col justify-center items-center font-medium space-x-5">

      {% if object.name %}
      <p class="text-2xl">Name: <span class="font-extrabold">{{ object.name }}</span></p>
      {% endif %}
      <h2 >Username: <span class="text-xl font-mono">{{ object.username }}</span></h2>
    </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="flex justify-center mt-10 space-x-5">

  <div class="flex justify-center space-x-5">
    <a class="border border-blue-500 px-6 py-2 rounded  shadow-lg shadow-blue-500/50 text-blue-500 hover:bg-blue-600 hover:text-white" href="{% url 'users:update' %}" role="button">My Info</a>
    <a class="border border-blue-500 px-6 py-2 rounded  shadow-lg shadow-blue-500/50 text-blue-500 hover:bg-blue-600 hover:text-white"  href="{% url 'account_email' %}" role="button">E-Mail</a>
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}

</div>
{% endblock content %}
