{% extends "task_wall.html" %}
{% block title %} Signup {% endblock %}
{% block walent %}
    <h1 class="text-3xl font-bold text-center mb-2">Create Account</h1>
    <form action="" method="post">
        {% csrf_token %}
                <!-- first name and last name -->
                <label for="{{form.first_name.id}}{{form.last_name.id}}" class="text-gray-700 text-xl font-bold">Name</label>
            <div class="flex flex-row justify-center space-x-2 w-full">
                <div class="w-[50%]">{{ form.first_name }}</div>
                <div class="w-[50%]">{{ form.last_name }}</div>
            </div>
            <div class="text-sm mt-2">{{ form.first_name.help_text }} </div>
            <div class="text-sm mt-2">{{ form.last_name.help_text }} </div>
            <span class="text-red-600 font-medium text-sm">{{ form.errors.first_name }}</span>
            <span class="text-red-600 font-medium text-sm">{{ form.errors.last_name }}</span>
            <!-- Email -->
            <div class="w-full">
                <label for="{{form.email.id}}" class="text-gray-700 text-xl font-bold">Email</label>
                {{ form.email }}
                <span class="text-red-600 font-medium text-sm">{{ form.errors.email }}</span>
                <div class="text-sm mt-2">{{ form.email.help_text }} </div>
            </div>

            <div class="w-full">
                <label for="{{ form.username.id }}" class="text-gray-700 text-xl font-bold">Username</label>
                {{ form.username }}
                <span class="text-red-600 font-medium text-sm">{{ form.errors.username }}</span>
                <div class="text-sm mt-2">{{ form.username.help_text }} </div>
            </div>
            <div class="w-full">
                <label for="{{ form.password1.id }}" class="text-gray-700 text-xl font-bold">Password</label>
                {{ form.password1 }}
                <span class="text-red-600 font-medium text-sm">{{ form.errors.password1 }}</span>
                <div class="text-sm mt-2">{{ form.password1.help_text }}</div>
            </div>
            <span class="text-red-600 font-medium text-sm">{{ form.errors.password2 }}</span>
            <div class="w-full">
                <label for="{{ form.password2.id }}" class="text-gray-700 text-xl font-bold">Confirm Password</label>
                {{ form.password2 }}
                <div class="text-sm mt-2">{{ form.password2.help_text }}</div>
            </div>
            <div class="w-full">
                <!-- Checkbox for terms and conditions -->
                <div class="flex flex-row justify-start items-center space-x-2 w-full my-2">
                        {{ form.terms}}
                        <label for="{{ form.terms.id }}" class="text-gray-700 font-bold">
                            I agree to the <a href="#" class="text-blue-500">terms and conditions</a>
                        </label>
                        <span class="text-red-600 font-medium text-sm">{{ form.errors.terms }}</span>
                </div>
            </div>
            <div class="w-full">
                <!-- Checkbox for daily reports -->
                <div class="flex flex-row justify-start items-center space-x-2 w-full my-2">
                        {{ form.reports}}
                        <label for="{{ form.reports.id }}" class="text-gray-700 font-bold">
                            I want to receive daily reports about my tasks.
                        </label>
                        <span class="text-red-600 font-medium text-sm">{{ form.errors.reports }}</span>
                </div>
            </div>
                <button type="submit" class="w-full bg-blue-500 hover:bg-blue-700 cursor-pointer text-white font-bold py-2 px-4 rounded-lg shadow-lg shadow-blue-500/50 mt-2">Sign Up</button>
                <hr class="my-3">
                <div class="flex flex-col items-center justify-center w-full">
                    <div class="text text-gray-600 mb-2">Already have an account?</div>
                    <a href="{% url 'login' %}" class="w-[10rem] text-center bg-blue-500 hover:bg-blue-700 cursor-pointer text-white font-bold py-2 px-4 rounded-full shadow-xl shadow-blue-500/50">Sign In</a>
                </div>
    </form>

{% endblock %}