{% extends "task_wall.html" %}
{% block title %} Schedule Report {% endblock %}
{% block walent %}
    <h1 class="text-3xl font-bold text-center mb-2">Daily Report</h1>
    <form class="space-y-5" action="" method="post">
        {% csrf_token %}
        <div class="w-full">
            <label for="{{form.time.id}}" class="text-gray-700 text-xl font-bold">Choose time for report</label>
            <input type="time" name="time" {% if form.time.value != None %}value="{{ form.time.value|safe }}"{% endif %} class="bg-gray-50 focus:bg-white border border-gray-200 rounded-lg px-4 py-2 focus:ring shadow-lg focus:ring-blue-400 shadow-blue-200 focus:outline-none focus:shadow-outline w-full" id="{{ form.time.id }}">
            <span class="text-red-600 font-medium text-sm">{{ form.errors.time }}</span>
            <div class="text-sm mt-2">{{ form.time.help_text }} </div>
        </div>
        <div>
            <div class="flex items-center space-x-2 w-full">
                {{ form.consent }}
                <label for="{{form.consent.id}}" class="text-gray-700 text font-medium">I would like to receive daily reports</label>
            </div>
            <span class="text-red-600 font-medium text-sm">{{ form.errors.consent }}</span>
            <div class="text-sm">{{ form.consent.help_text }} </div>
        </div>
        <button type="submit" class="w-full bg-blue-500 hover:bg-blue-700 cursor-pointer text-white font-bold py-2 px-4 rounded-lg shadow-lg shadow-blue-500/50 mt-2">Save</button>
    </form>
{% endblock %}